/** RECUERDA:
Para los class se usa .
Para los id se usa #
**/

.clr_orange{
    background:#F58A07;
}

.clr_pink{
    background:#D7263D;
}

.clr_blue_dark{
    background:#02182B;
}

.clr_blue{
    background:#2C99DF;
}

.clr_blue_ligth{
    background: #448FA3;
}

.container{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    padding: 3%;
}

.content{
 margin: 2em;
}

/** Empieza CSS para los componentes **/

#selector_idioma{
    color: white;
    text-align: right;
    margin-bottom: 2.5em;
}

#selector_idioma > label:hover{
    color: #D7263D;
    cursor:pointer;
}

#index_logo{
    text-align: center;
    margin-bottom: 2em;
    
}

.btn_inicio{   
    text-align: center;
    margin-bottom: 1em; 
}

.btn_inicio > button{   
    color: white;
}

#labels_sesion{
    text-align: center;
    color: white;
    margin-top: 0.5em;
    font-size: 11px;
}

#labels_sesion > a{   
    color: white;
    text-decoration: none !important;
}

#olvidar_contrasenia{
    color: white;
}
#home_volver {
    text-align: center;
}

#home_volver > a{
    color: white;
    text-decoration: none !important;   
}