/*Paleta de colores*/
.clr_orange{
    background:#F58A07;
}

.clr_pink{
    background:#D7263D;
}

.clr_blue_dark{
    background:#02182B;
}

.clr_blue{
    background:#2C99DF;
}

.clr_blue_ligth{
    background: #448FA3;
}

/*Vista index.html*/
#body {
    background: #02182B;   
    color: white !important; 
}

/*Vista cabecera.component.html*/
#header{
    width: 100%;
    height: 53px;
    background-color: #02182B;
    top: 0;
    position: fixed;
    padding-top: 0.7em;
}

#header span{
    text-align: center; 
    font-weight: bold; 
}

#header hr{
    border-color: white;
}

#cabecera-app{
    width: 100%;
    display: flex;
}

#opcion-atras{
    width: 10%;
    text-align: center;
}

#tituloApp{
    width: 90%;
    text-align: center;
}

/*Vista app.component.html*/
#main{
    margin-top:4em;
}

.component{
    padding: 0em 2em 3em 2em;
}

form label{
    margin-top: 20px;
}

.campoObligatorio{
    color: #D7263D;
    font-weight: bold;
    padding-left: 0.5em;
    font-size: 11px;
}

.component form img{
    width: 30px;
    height: 30px;
}

.component form p{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}

.form-control:disabled{
    opacity: 0.5 !important;
}

.btn[disabled]{
    opacity: 0.5 !important;
}

/*Vista error.component.html*/
#logo-error{
    text-align: center;
    margin-top: 6em;
    margin-bottom: 2em;
}

#logo-error > a > img {
    width:100%;
    height: auto;
}

#texto-error{
    text-align: center;
}

#texto-error > h5{
    margin-top: 1em;
    font-weight: normal !important;
}

/*Vista inicio.component.html*/
#selector-idioma {
    text-align: right;
    margin-right: 20px;
}

#selector_idioma > label:hover{
    color: #D7263D;
    cursor:pointer;
}

#imagen-logo {
    text-align: center;
    margin: 40px;
}

#imagen-logo img {
    width:80%;
    height: auto;
}

#botones-inicio {
    margin-bottom: 2em;
}

.btn {
    color: white;
    width: 75%;
}

#botones-inicio div {
    padding: 10px;
    text-align: center;
}

/*Vista registro.component.html*/
#btn-registrarse{
    text-align: center;
    margin-top: 40px;
}

/*Vista login.component.html*/
#login {
    padding-top: 41px;
}

#login p{
    text-align: center;
    color: white;
    margin: 0;
}

#btn-login{
    text-align: center;
    margin: 40px;
}

/*Vista menu.component.html*/

.menu-principal{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu-principal div{
    display: block;
}

.menu-principal a{
    position: absolute;
    background: #fff;    
    text-align: center !important;   
    height: 100px;
    width: 100px; 
    border-radius: 50%;
}
  
.menu-principal img{
    width: 80% !important;
    position: relative;
    top: 13%;
    left: 1%;
} 

#logoMenu{
    z-index: 999 !important;
    top: 31%;
    left: 34%;
    width: 120px;
    height: 120px;
    background: #F58A07;
}

#cerrar-sesion{
    top: 10%;
    left: 37%;
}

#tienda{
    top: 56%;
    left: 37%;
}

#config-ruta{
    top: 20%;
    left: 3%;
}

#rutas-pendientes{
    top: 20%;
    right: 3%;
}

#perfil{
    top: 45%;
    left: 3%;
}

#historial{
    top: 45%;
    right: 3%;
}



/*Vista perfil.component.html*/

#foto-perfil {
    text-align: center;
    margin-top: 5em;
}

.img_container{
	width: 100%;
	overflow: hidden;
}

.usuario_imagen{  
    height: 12em !important;
    margin: 0px auto;
    width: 12em !important;
    display: block;
    border-radius: 160px;
    border: 10px solid #F58A07;
}


#infor-usuario{
    text-align: center;
    padding-top: 0.6em;
    margin-bottom: 1em;
}

#infor-email{
    margin-top: 0.3em;
}

#lbl-cambioPass{
    margin-top: 2.5em;  
    color:#2C99DF !important;
}

#btns-perfil{
    text-align: center;
    margin-top: 40px;
    display: inline-flex;
    width: 100%;
}

#btns-perfil div{
    width: 50%;
}

.alert-perfil{
    margin-top:2em;
}