.container{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    padding: 3%;
    color:white;
}

#container_index{
    background-size: cover;
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}

#imagen_logo{
    text-align: center;
}

#login{
    text-align: center;
    font-size: 80px;
}