<cabecera></cabecera>
<div class="component">
    <form id="form-configuracion" #formConfiguracion="ngForm" (ngSubmit)="onSubmit()">

        <label>{{'configuracion.destino' | translate}}:</label>
        <select class="form-control" required>
            <option>Seleccione..</option>
            <option [ngValue]="ciudad.id" *ngFor="let ciudad of ciudades"> {{ciudad.nombre}}</option>
        </select>

        <label>{{'configuracion.duracion' | translate}}:</label>
        <input type="range" class="form-control slider"  min="5" max="100000" step="1">

        <label>{{'configuracion.presupuesto' | translate}}:</label>
        <input type="text" class="form-control" required/>

        <label>{{'configuracion.mascota' | translate}}:</label>
        <input type="text" class="form-control" required/>

        <label>{{'configuracion.acompaniantes' | translate}}:</label>
        <input type="text" class="form-control" required/>

        <label>{{'configuracion.ninios' | translate}}:</label>
        <input type="text" class="form-control" required/>

        <label>{{'configuracion.turismo' | translate}}:</label>
        <input type="text" class="form-control" required/>


    </form>
</div>