<cabecera></cabecera>
<div class="component">
    <div class="sinMapas" *ngIf="!mapas">
        <p>No existen mapas disponibles</p>
    </div>
    <div class="tablaMapas table-responsive" *ngIf="mapas">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">{{'mapa.destino' | translate}}</th>
                    <th scope="col">{{'mapa.mapa' | translate}}</th>
                    <th scope="col">{{'mapa.detalle' | translate}}</th>
                </tr>
            </thead>
            <tbody *ngFor="let mapa of mapas">
                <tr>
                    <td><strong>{{mapa.nombre}}</strong></td>
                    <td><a class="mostrarMapa">{{'mapa.mostrar' | translate}}</a></td>
                    <td><a class="verDetalles">{{'mapa.ver' | translate}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>