<div id="inicio">
    <div id="selector-idioma">
        <label (click)="switchLanguage('es')">{{'home.espaniol' | translate}}</label> | 
        <label (click)="switchLanguage('en')">{{'home.ingles' | translate}}</label>
    </div>
    <div id="imagen-logo">
        <img src="assets/images/logo.png">
    </div>
    <div id="botones-inicio">
        <div>
            <a [routerLink]="['/configuracion']" class="btn btn-lg clr_orange">{{'home.iniciar_sesion' | translate}}</a>
        </div>
        <div>
            <a [routerLink]="['/registro']" class="btn btn-lg clr_blue_ligth">{{'home.registrar' | translate}}</a>
        </div>
    </div>
</div>