<div id="login">
    <form #formLogin="ngForm" id="form-login" (ngSubmit)="onSubmit()">
        <label>{{'home.usuario' | translate}}:</label>
        <input type="text" #user_name="ngModel" name="username" [(ngModel)]="usuarioLogin.user_name" class="form-control" required/>

        <label>{{'home.contraseña' | translate}}:</label>
        <input type="password" #user_passwd="ngModel" name="userpasswd" [(ngModel)]="usuarioLogin.user_passwd" class="form-control" required/>

        <div id="btn-login">
            <input type="submit" value="Iniciar" [disabled]="!formLogin.form.valid" class="btn btn-lg clr_orange"/>
            <!--<a [routerLink]="['/inicio']" class="btn btn-lg clr_blue_ligth">{{'home.registrar' | translate}}:</a>-->
        </div>
    </form>
    <p>¿Ha olvidado su contraseña?</p>
    <p>Pulse <a [routerLink]="['/inicio']">aquí</a> para recuperarla</p>
</div>