<div class="menu-principal">
    <div>
        <a id="logoMenu">
            <img src="../assets/images/logo-menu.png">
        </a>
    </div>
    <div>
        <a id="cerrar-sesion" [routerLink]="['/']">
            <img src="../assets/images/cerrar-sesion.png">
        </a>
    </div>
    <div>
        <a id="config-ruta" [routerLink]="['/configuracion']">
            <img src="../assets/images/config-ruta.png">
        </a>
    </div>
    <div>
        <a id="rutas-pendientes" [routerLink]="['/rutasPendientes']">
            <img src="../assets/images/rutas-pendientes.png">
        </a>
    </div>
    <div>
        <a id="perfil" [routerLink]="['/perfil/']">
            <img src="../assets/images/perfil.png">
        </a>
    </div>
    <div>
        <a id="historial" [routerLink]="['/historial']">
            <img src="../assets/images/historial-ruta.png">
        </a>
    </div>
    <div>
        <a id="tienda">
            <img src="../assets/images/tienda.png">
        </a>
    </div>
</div>