<div class="menu-principal">
    <a id="cerrar-sesion" href="#">
        <i class="ion-heart"></i>
    </a>
    <a id="configuracion" href="#">
        <i class="ion-wrench"></i>
    </a>
    <a id="rutas-pendientes" href="#">
        <i class="ion-edit"></i>
    </a>
    <a id="historial" href="#">
        <i class="ion-gear-a"></i>
    </a>
    <a id="tienda" href="#">
        <i class="ion-email"></i>
    </a>
    <a id="perfil" href="#">
        <i class="ion-help"></i>
    </a>
    <span class="logo-travelPlanner"> </span>
</div>