<cabecera></cabecera>
<div class="component">
    <form id="form-perfil" #formPerfil="ngForm">
        <div id="foto-perfil">
            <img id="img-perfil" class=".img-fluid" src="../assets/images/fotoPerfil.jpg">
        </div>

        <div id="infor-usuario">
            <div id="nombreCompleto-perfil">
                <strong>
                    <h5>{{usuario.nombre}} {{usuario.apellidos}}</h5>
                </strong>
            </div>
            <span>{{usuario.user_name}}</span>
            <div id="infor-email">
                <span>{{usuario.email}} </span>
            </div>
        </div>

        <div id="edit-usuario">
            <label>{{'perfil.antiguaPass' | translate}}:</label>
            <input type="password" name="antiguaPass" name="contrasenia" [(ngModel)]="usuario.user_passwd" class="form-control"/>

            <label>{{'perfil.nuevaPass' | translate}}:</label>
            <input type="password" #contrasenia="ngModel" name="nuevaPass" [(ngModel)]="usuario.nuevoPasswd" class="form-control"/>

            <label>{{'perfil.imagen' | translate}}:</label>
            <input type="file" #imagen="ngModel" name="imagen" [(ngModel)]="usuario.imagen" class="form-control"/>

        </div>

        <div id="btns-perfil">
            <div>
                <div>
                    <input type="submit" value="{{'formulario.guardar' | translate}}" class="btn clr_blue_ligth" />
                </div>

            </div>
        </div>
    </form>
</div>