<div class="component">
    <form id="form-registro" #formRegistro="ngForm" (ngSubmit)="onSubmit()">

        <label>{{'registro.nombre' | translate}}:</label>
        <p *ngIf="!nombre.valid && nombre.touched">{{'formulario.campoObligatorio' | translate}}</p>
        <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="usuario.nombre" class="form-control" required/>

        <label>{{'registro.apellidos' | translate}}:</label>
        <input type="text" #apellidos="ngModel" name="apellidos" [(ngModel)]="usuario.apellidos" class="form-control" />

        <label>{{'registro.email' | translate}}:</label>
        <p *ngIf="!email.valid && email.touched">{{'formulario.campoObligatorio' | translate}}</p>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="usuario.email" class="form-control" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
        />

        <label>{{'registro.usuario' | translate}}:</label>
        <p *ngIf="!user_name.valid && user_name.touched">{{'formulario.campoObligatorio' | translate}}</p>
        <input type="text" #user_name="ngModel" name="user_name" [(ngModel)]="usuario.user_name" class="form-control" required/>

        <label>{{'registro.contrasenia' | translate}}:</label>
        <p *ngIf="!contrasenia.valid && contrasenia.touched">{{'formulario.campoObligatorio' | translate}}</p>
        <img *ngIf="usuario.repeatContrasenia == usuario.contrasenia" src="assets/images/ok.png" />
        <input type="password" #contrasenia="ngModel" name="contrasenia" [(ngModel)]="usuario.contrasenia" class="form-control" required/>

        <label>{{'registro.repetir_contrasenia' | translate}}:</label>
        <p *ngIf="!repeatContrasenia.valid && repeatContrasenia.touched">{{'formulario.campoObligatorio' | translate}}</p>
        <img *ngIf="usuario.repeatContrasenia == usuario.contrasenia" src="assets/images/ok.png" />
        <input type="password" #repeatContrasenia="ngModel" name="repeatContrasenia" [(ngModel)]="usuario.repeatContrasenia" class="form-control"
            required [pattern]="usuario.contrasenia" />

        <div id="btn-registrarse">
            <input type="submit" value="{{'registro.registrarse' | translate}}" [disabled]="!formRegistro.form.valid" class="btn btn-lg clr_blue_ligth"
            />
            <!--<a [routerLink]="['/inicio']" class="btn btn-lg clr_blue_ligth">{{'home.registrar' | translate}}:</a>-->
        </div>

    </form>
</div>