/*Paleta de colores*/
.clr_orange{
    background:#F58A07;
}

.clr_pink{
    background:#D7263D;
}

.clr_blue_dark{
    background:#02182B;
}

.clr_blue{
    background:#2C99DF;
}

.clr_blue_ligth{
    background: #448FA3;
}
/*Vista index.html*/
#body {
    background: #02182B;
}

/*Vista app.component.html*/
#header{
    margin-top: 15px;
}

#header p{
    text-align: center; 
    color: white;
    font-weight: bold; 
}

#header hr{
    border-color: white;
}

/*Vista inicio.html*/
#selector-idioma {
    color: white;
    text-align: right;
    margin-top: 0px;
    margin-right: 20px;
}

#selector_idioma > label:hover{
    color: #D7263D;
    cursor:pointer;
}

#imagen-logo {
    text-align: center;
    margin: 40px;
    margin-top: 0%;
}

#imagen-logo img {
    width:80%;
    height: auto;
}

#botones-inicio {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    color: white;
    width: 75%;
}

#botones-inicio div {
    padding: 10px;
    text-align: center;
}
